bin/
build/
.classpath
.settings/org.eclipse.jdt.core.prefs
.gradle
*.aux
*.fls
*.toc
*.html
*.log
*.pdf
*.bbl
*.blg
*.out
*.backup
docs/usermanual/usermanual_en/
TexDB/
*.4ct
*.4tc
docs/usermanual/usermanual_en.css
*.dvi
*.idv
*.lg
*.tmp
*.xref
docs/usermanual/usermanual_en*.png
